.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 3px 22px;
    border: 1px solid #03352D;
    border-radius: 18px;
    background-color: transparent;
    color: #161616;
    font-size: 16px;
    transition: background-color 0.2s ease;
    min-width: 90px;
}

.selected {
    background-color: #B2CEC9;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 0.5px solid #03352D;
}