body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: #dde3e2;
}


/* Nav bar styles */
.nav {
    list-style-type: none;
    margin: 0;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid rgba(6, 96, 81, 0.7);
    background: rgba(221, 227, 226, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.nav__link--img {
    padding: 0 1rem;
}

.nav__img {
    max-width: 8rem;
    object-fit: contain;
    height: 100%;
}

.nav__right {
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    padding: 0;
    display: flex;
}

.nav__component .nav__link {
    color: #066051;
    text-align: center;
    padding: 1.5rem 2rem;
}

.nav__component .nav__link {
    text-decoration: none;
    display: inline-block;
}

.nav__link:hover {
    text-decoration: underline;
    background: #388074;
    color: #fff;
}

.nav__link:active {
    background: #04443A;
    color: #fff;

}

.active {
    background: #04443A;
    color: #fff !important;
}