.webcam {
    position: relative;
    display: flex;
    flex: 1;
    height: calc(100vh - 140px);
    width: 100%;
    background-color: red;
}

.webcam video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
