.sm__btn {
    width: 78px;
    height: 28px;
    border-radius: 45px;
    background: #066051;
}

.btnText {
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
}

.cr__btn-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background: #066051;
    border-radius: 50%;
}

.arrow {
    width: 17.28px;
    height: 17.28px;
}
.button {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #066051;
    border-radius: 100%;
}

.buttonRight {
    top: 50%;
    right: 12px;
}

.buttonLeft {
    top: 50%;
    left: 12px;
    transform: rotate(180deg);
}
