.smlBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.fixed {
    width: 78px;
    height: 28px;
    padding: 5px 10px;
}

.full {
    width: 100%;
    height: 100%;
}

.smlBtnText {
    font-size: 12px;
}

.primary {
    background-color: #066051;
    color: #fff;
}

.secondary {
    background-color: #fff;
    border: 1px solid #03352d;
    color: #03352d;
}

.tertiary {
    background-color: none;
    border: none;
}
