.body {
    background-color: #e0e8ff;
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 80px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.button {
    margin: 21px 21px;
}

.btncontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
