.top-bar {
    background-color: #066051;
    padding-top: 50px;
    width: 100%;
}

.top-bar__main {
    display: flex;
    align-items: center;
}

.top-bar__icon {
    position: absolute;
    margin-left: 15px;
}

.top-bar__btn {
    position: absolute;
    margin-left: 15px;
    width: 92px;
    height: 24px;
}

.top-bar__title {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 28px;
}

.top-bar__navbar {
    display: flex;
    justify-content: space-around;
}

.btn1,
.btn2 {
    color: white;
    font-size: 20px;
    margin: 8px 0;
    padding: 0 25px;
    border-radius: 17px;
}

.top-bar__navbar .active {
    background-color: #161616;
}
